@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

body, html {
    font-family: 'Red Hat Text';
    background: rgb(43, 42, 42);
    text-align: center;
    color: white;
    font-weight: bold;
}

h1{
    color: rgb(169, 230, 196);
    font-size: 4rem;
}

#message-el {
    font-style: italic;
}

p{
    font-size: 2rem;
    font-weight: bold;
}

button{
    background: rgb(169, 230, 196);
    border: none;
    width: 20rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
}